h1 {
    text-align: center;
    padding: 25px 25px;
    font-family: 'Fredericka the Great', cursive;
}

h3,
h6 {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

header {
    background-color: tan;
}

#start-btn {
    background-color: rgb(104, 50, 46);
    font-family: 'Fredericka the Great', cursive;
    color: white;
    align-content: center;
}

#question {
    background-color: rgb(104, 50, 46);
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Fredericka the Great', cursive;
}

#holder {
    background-color: slategray;
    box-shadow: 0 0 20px 15px;
}

.choice {
    background-color: rgb(104, 50, 46);
    color: white;
    font-family: 'Fredericka the Great', cursive;
}